body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.menu-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header-logo {
    max-width: 100%;
    height: auto;
}

.language-selector {
    position: relative;
}

.language-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.language-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.language-menu button {
    background: none;
    border: none;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.language-menu button:hover {
    background: #f0f0f0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-button {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    font-size: 12px;
    color: #000;
    font-weight: bold; /* Сделать текст жирным */
}

.filter-button:hover {
    background-color: #ffffff;
}

.filter-button.active {
    background-color: #00bfa5;
    color: #fff; /* Цвет текста белый для активной кнопки */
    border-color: #00bfa5;
}

.filter-button img.icon {
    width: 20px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.menu h2 {
    color: #00bfa5;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu-item span {
    font-size: 16px;
}

.price::after {
    content: url('icons/Vector.jpg');
    margin-left: 5px;
}

.icecream {
    color: #00bfa5;
}
.menu-header {
    font-weight: bold;
}
.image-container img {
    width: 350px; /* Укажите нужную ширину */
    height: auto; /* Высота будет автоматически корректироваться пропорционально ширине */
    margin-bottom: 10PX;
}
